<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175037646-1"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-175037646-1');

        function sayThanks(){
            Swal.fire(
                    'Thank you! We are honored',
                    'You’ll recieve a confirmation email!',
                    'success'
            );
        }

    </script>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>TeeMag - Love made from Osu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
    <!-- favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">
    <!--open graph-->
    <meta property="og:site_name" content="TeeMag2020" />
    <meta property="og:title" content="A Love Brewed In Osu Pot" />
    <meta property="og:description" content="A wedding website for Rexford and Penelope." />
    <meta property="og:image" content="http://teemag2020.com/assets/img/rex/save-the-date.jpeg" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="http://teemag2020.com/">
</head>