<header class="header default">
	<div class="header-section">
			<!--Container-->
			<div class="container-fluid ">
					<nav class="navbar navbar-expand-lg header-navbar ml-0 ml-lg-5">
							<a class=" navbar-brand navbar-logo scroll" href="/">
									<p class="mb-0">#TEEMAG2020</p>
									<!-- <img class="mb-0 logo-light" src="assets/svg/logo-light.svg" alt=""> -->
									<!-- <img class="mb-0 logo-dark" src="assets/svg/logo-dark.svg" alt=""> -->
							</a>
							<button class="navbar-toggler btn-navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-menu" aria-expanded="true" aria-label="Toggle navigation">
					 <span class="fa fa-bars"></span>
					 </button>
							<div class="nav-menu collapse navbar-collapse navbar-collapse justify-content-end mr-5 ">
									<ul class=" navbar-nav  header-navbar-nav">
											<li><a class=" nav-link scroll" href="#resto">Date</a></li>
											<li><a class=" nav-link scroll" href="#story">Love Story</a></li>
											<li><a class=" nav-link scroll" href="#wedding">Wedding</a></li>
											<li><a class=" nav-link scroll" href="#gallery">Gallery</a></li>
											<li><a class=" nav-link scroll" href="#gift">Gift Registry</a></li>
											<li><a class=" nav-link scroll" href="#friends">Friends</a></li>
											<li><a class=" nav-link scroll" href="#rsvp">Rsvp</a></li>
											<li><a class=" nav-link scroll" href="#trivia">Trivia</a></li>
									</ul>
							</div>
					</nav>
			</div>
			<!--End container-->
	</div>
</header>